/*index.html*/
/* rows */
div.dropdown-multicol{
  width: 25em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}
.list-unstyled a {
    font-size: 13px;
}
.badge__urgently {
    position: absolute;
    font-size:25px;
}

/*how_is_it_made.html*/
.card-img {
    width: 25%;
    height: 15vw;
    object-fit: contain;
}
.main__image img {
    width: 100%;
    height: 35vw;
    object-fit: contain;
}
.rest__images img {
    width: 100%;
    height: 8vw;
    object-fit: contain;
}
